<!DOCTYPE html>
<html>
  <head>
    <title>FeedbackApp</title>
    <%= csrf_meta_tags %>
    <!-- <script src="https://unpkg.com/react-select/dist/react-select.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/react-select/dist/react-select.css"> -->
    <!-- <script type="text/javascript" src="https://golden-layout.com/files/latest/js/goldenlayout.min.js"></script> -->
    <link type="text/css" rel="stylesheet" href="https://golden-layout.com/files/latest/css/goldenlayout-base.css" />
    <link type="text/css" rel="stylesheet" href="https://golden-layout.com/files/latest/css/goldenlayout-dark-theme.css" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>